
*.xcuserstate

*.xcbkptlist

bMath.xcodeproj/project.xcworkspace/xcuserdata/boncri.xcuserdatad/UserInterfaceState.xcuserstate

bMath.xcodeproj/xcuserdata/boncri.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

bMath.xcodeproj/xcuserdata/boncri.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

bMath.xcodeproj/project.xcworkspace/xcuserdata/boncri.xcuserdatad/xcdebugger/Expressions.xcexplist
